@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {

  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  background: #2f2f2f;
}

body {
  margin: 0;
}