@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  font-family: 'Roboto',
  sans-serif;
  background: #c1f1fc;
}

body {
  margin: 0;

}